body {
	width: 100%
	margin-left: auto;
	margin-right: auto;
	background: url(../images/qixi.png) no-repeat;
	background-size: 100%;
}

@font-face {
	font-family: angry;
	src: url('../font/angry.ttf');
}

p {
    font-family: angry;
    color: yellow;

}

@media screen and (min-width: 992px) {
	p {
	    font-size: 4em;
	}
}

@media screen and (max-width: 991px) {
	p {
	    font-size: 3em;
	}
}

@media screen and (max-width: 800px) {
	p {
	    font-size: 2em;
	}
}

@media screen and (max-width: 550px) {
	p {
	    font-size: 1.5em;
	}
}