body {
	width: 100%
	margin-left: auto;
	margin-right: auto;
	background: url(../images/qixi.png) no-repeat;
	background-size: 100%;
}

@font-face {
	font-family: angry;
	src: url('../font/angry.ttf');
}

p {
    font-family: angry;
    font-color: white;
    font-size: 4em;
}